<% provide(:title, 'About Us')%>
    
<div class="panel panel-default">
	<div class="panel-heading"><h1>About us</h1></div>
	<div class="panel-body">
		
		<p><h5>The goal of the MyExperiment project is to develop a web-based solution that allows network researchers
and experimenters to create, view, modify and manage network models (including network topologies,
network traffic, and network configurations), which they use to conduct simulation and emulation ex-
periments for validating design and evaluating performance. The target system will offer an ”online
store” for users to create various models using existing model generators, as well as configure, inspect
and visualize them. The created models can be saved in the online repository for private or public use.
MyExperiment will become a common platform for network researchers to store, share and reuse models
for network experimentation.
 </h5></p><p><h5>The present stage of this project is in the <mark>Alpha stage</mark>.</h5></p>
		
	</div>
	
		
</div>
