<% provide(:title, 'Contact') %>
<div class="panel panel-default">
	<div class="panel-heading"><h1>Contact</h1></div>
		
	<table class="table">
		<th>Role</th>
		<th>Names</th>
		<th>Contact Info</div>
		
		<tr>
			<td>Project Leader</td>
			<td>Musa Ahmed</td>
			<td>mahme012@fiu.edu</td>
		</tr>
		<tr>
			<td>Project Assistant</td>
			<td>Renan Santana</td>
			<td>rsant143@fiu.edu</td>
		</tr>
	</table>
</div>
