<html>
	<% if @form_type == 0 %>
		<div class="page-header"><h1>Inet</h1></div>
		<%= form_tag :action => 'create' do %>
			<%= render :template => 'inet/inet' %>
			<%= submit_tag "Enter", :name => "inet", class: "btn btn-primary" %>
		<% end %>
	<% end %>
</html>
